#app-logo {
  margin-left: 10px;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: auto !important;
  left: 10px;
}

.invalid-feedback {
  color: red;
  font-size: 13px;
}

#welcome_card {
  margin-top: 200px;
}

.preloader-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.preloader-background p {
  padding-top: 120px;
  margin-left: -60px;
  opacity: 0.8;
}

.blinking {
  animation: blinker 0.5s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
